.app {
  width: 1200px;
  margin: $baseMargin auto 0px;
  display: flex;
}

.app-title {
  text-align: center;
  margin-top: 0px;
}

.left-nav {
  list-style-type: none;
  margin-right: $baseMargin;
  padding-right: $baseMargin;
  border-right: 1px solid #ccc;
}

.result-area {
  display: flex;
}

.result-right {
  text-align: left;
  margin-left: 20px;
}