$backgroundColor: #eee;
$textColor: #444;
$baseMargin: 40px;

body {
  background-color: $backgroundColor;
  text-align: center;
  color: $textColor;
  margin: 0px;
}

@import "reset";
@import "App";
@import "SearchFrom";
@import "GeocodeResult";
@import "Map";
@import "HotelsTable";
@import "HotelsClickableTh";
